{% extends "layout.html" %}

{% block content %}

<div id="game">
    <form>
        <div id="restartAndQuit">
            {% if TESTENDGAME %}
                <button class="menuButtons" id="restartButton" formaction="/restart">Rejouer</button>
            {% else %}
                <button class="menuButtons" id="quitButton" formaction="/quitGame">Abandonner la partie</button>
            {% endif %}
        </div>
    </form>

    <div class="grid"></div>
    <div class="Keyboard"></div>
</div>
<script>
    var guess = "";
    var kb_color_obj = {{ KBCOLOR | tojson | safe }};
    var cursor = "{{CURSOR}}";
    var tries = {{ TRIES| tojson | safe }};
    var tries_color = {{ COLOR | tojson | safe }};
    var maxTry = "{{MAXTRY}}";
    var wordLength = "{{WORDLENGTH}}";
    var validWords = {{ MOTSVALIDES | tojson | safe }};
    generateGrid();
    generateKeyboard();
    input_keyboard();
</script>
{% endblock %}