<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../static/styles/assets/css/layout.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/assets/css/parameters.css">
        <link rel="stylesheet" type="text/css" href="../static/styles/assets/css/generateGrid.css">
        <script src="./static/styles/assets/js/generateGrid.js"></script>
        <title>Wordle</title>
    </head>
    
    <body>
        <header class="barre_outils">
            <ul class="menu">
                <li class="menu_elements" id ="regles"><a>Règles</a></li>
                <li id ="Wordle"><h1>Wordle</h1></li>
                <li class="menu_elements" id="param"><a>Paramètres</a></li>
                <li class="menu_elements" id="stats"><a>Statistiques</a></li>
            </ul>
        </header>

        {% block content %}{% endblock %}

    </body>

</html>