<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/styles/assets/css/layout.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/assets/css/parameters.css">
    <link rel="stylesheet" type="text/css" href="../static/styles/assets/css/generateGrid.css">
    <link rel="stylesheet" type ="text/css" href="../static/styles/assets/css/keyboard.css">
    <script src="../static/styles/assets/js/generateGrid.js"></script>
    <script src="../static/styles/assets/js/generateKeyboard.js"></script>
    <script src="../static/styles/assets/js/testTry.js"></script>
    <title>Wordle</title>
</head>

<body>
    <header class="barre_outils">
        <ul class="menu">
            <li class="menu_elements" id="regles">
                <button id="btnPopupRegles" class="btnPopupRegles">Règles</button>
            </li>
            <li id="Wordle">
                <h1>Wordle</h1>
            </li>
            <!-- Tache secondaire non terminée -->
            <!-- <li class="menu_elements" id="param">
                <button id="btnPopupParametres" class="btnPopupParametres">Paramètres</button>
            </li> -->
            <li class="menu_elements" id="stats">
                <button id="btnPopupStats" class="btnPopupStats">Statistiques</button>
            </li>
            <div id="overlay" class="overlay">
                <!--Chacune des div suivantes sont cachés et s'affichent lorsque le bouton correspondant est cliqué-->
                <div id="popupStats" class="popup">
                    <table id="statsTable">
                        <thead>
                            <tr>
                                <th colspan="2" id="statsMainTitle">Mes statistiques :</th>
                            </tr>
                        </thead>
                        <tbody id="statsBody">
                            <tr id="statsNumbers">
                                <td>{{NBPARTIES}}</td>
                                <td>{{NBMOYENESSAIS}}</td>
                            </tr>
                            <tr id="statsSubTitles">
                                <td>Nombre de parties jouées</td>
                                <td>Nombre moyen d'essais pour gagner</td>
                            </tr>
                        </tbody>
                    </table>
                    <span id="btnCloseStats" class="btnClose">&times;</span>
                </div>
                <div id="popupRegles" class="popup">
                    <h2>Règles du jeu :</h2>
                    <p>
                        Le but du jeu est de trouver un mot de la langue française en un nombre minimal d'essai.<br />
                        Ce mot peut être un nom, un adjectif, un verbe (conjugué ou non), un adverbe,...<br />
                        Ce mot peut également être au singulier ou au pluriel.
                    </p>
                    <p>
                        En début de partie, vous pouvez paramétrer la longueur du mot (de 5 à 15 lettres) ainsi que le nombre maximal d'essais possibles (de 3 à 10).
                    </p>
                    <p>
                        Pendant la partie, proposez des mots en utilisant le clavier intégré ou votre propre clavier.<br >
                        Une fois que vous avez appuyé sur Entrée, les cases de la grille et du clavier seront colorées :
                    </p>
                    <table id="examples">
                        <tbody>
                            <tr>
                                <td id="example1" class="example">A</td>
                                <td class="explanation">La lettre est à la bonne place dans le mot</td>
                            </tr>
                            <tr>
                                <td id="example2" class="example">A</td>
                                <td class="explanation">La lettre est dans le mot mais pas à la bonne place</td>
                            </tr>
                            <tr>
                                <td class="example">A</td>
                                <td class="explanation">La lettre n'est pas dans le mot. (Sur le clavier intégré, la lettre sera noircie)</td>
                            </tr>
                        </tbody>
                    </table>
                    <span id="btnCloseRegles" class="btnClose">&times;</span>
                </div>
            </div>
        </ul>
    </header>

    {% block content %}{% endblock %}


    {% if TESTENDGAME == True %}
    <div id="overlayEnd" class="overlayEnd">
        <div id="popupEnd" class="popupEnd">
            {% if WHICHEND == True %}
                <h1>VICTORY!</h1>
            {% else %}
                <h1>DEFEAT</h1>
            {% endif %}
            <h2>Mes résultats :</h2>
            <p><strong>Mot à trouver : </strong>{{MOTATROUVER}}</p>
            <p><strong>Nombre d'essais : </strong>{{MAXTRY}}</p>
            <br>
            <h2>Mes statistiques :</h2>
            <p><strong>Nombre de parties jouées : </strong>{{NBPARTIES}}</p>
            <p><strong>Nombre moyen d'essais pour gagner : </strong>{{NBMOYENESSAIS}}</p>
            <p><a class="btnEnd" id="btnEnd" href="/newGame">Rejouer</a></p>
        </div>
    </div>
    {% endif %}

    <script src="../static/styles/assets/js/popupStats.js"></script>
</body>


</html>