{% extends "layout.html" %}

{% block content %}
    <form id="parameters" action="/newGame" method="post">
        <div id="form_content">

            <div class="form_item">
                <label>Longueur du mot à trouver</label>
                <div><input name="wordlength" type="range" list="wordLengthTickmarks" min="5" max="15" step="1" value="5"></div>
                <datalist id="wordLengthTickmarks">
                    {% for elem in WORDLENGTHPOSSIBILITIES %}
                        <option class="case" value="{{elem}}" label="{{elem}}"></option>
                    {% endfor %}
                </datalist>
            </div>

            <div class="form_item">
                <label>Nombre maximal d'essais possibles</label>
                <div><input name="maxtry" type="range" list="maxTryTickmarks" min="3" max="10" step="1" value="6"></div>
                <datalist id="maxTryTickmarks">
                    {% for elem in MAXTRYPOSSIBILITIES %}
                        <option class="case" value="{{elem}}" label="{{elem}}"></option>
                    {% endfor %}
                </datalist>
            </div>

            <div class="form_item">
                <input type="submit" id="play" value="Jouer">
            </div>

        </div>
    </form>
{% endblock %}