{% extends "layout.html" %}

{% block content %}
    <form id="parameters" action="/newGame" method="post">
        <div id="form_content">

            <div class="form_item">
                <label>Longueur du mot à trouver</label>
                <select name="wordlength">
                    {% for elem in WORDLENGTHPOSSIBILITIES %}
                        {% if elem == 5 %}
                            <option selected value="{{elem}}">{{elem}}</option>
                        {% else %}
                            <option value="{{elem}}">{{elem}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form_item">
                <label>Nombre maximal d'essais</label>
                <select name="maxtry">
                    {% for elem in MAXTRYPOSSIBILITIES %}
                        {% if elem == 6 %}
                            <option selected value="{{elem}}">{{elem}}</option>
                        {% else %}
                            <option value="{{elem}}">{{elem}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>

            <div class="form_item">
                <input type="submit" value="Jouer">
            </div>

        </div>
    </form>
{% endblock %}