/* CSS grille */
.grid {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.grid table {
    width: auto;
    height: auto;
    color: aliceblue;
}
.grid tr {
    border: 1px solid;
    width: auto;
    height: auto;
    color: aliceblue;
}
.grid td {
    border: 1px solid;
    width: 60px;
    height: 60px;
    color: aliceblue;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

/* Coloration des cases */
.bienplace {
    background-color: #538D4E;
}
.malplace {
    background-color: #B59F3B;
}


/* Erreur : mot non valide */
.tr_shake {
    animation: shake 2s ease;
}

@keyframes shake {
    0% {
        transform: translate(0, 0)
    }

    1.78571% {
        transform: translate(5px, 0)
    }

    3.57143% {
        transform: translate(0, 0)
    }

    5.35714% {
        transform: translate(5px, 0)
    }

    7.14286% {
        transform: translate(0, 0)
    }

    8.92857% {
        transform: translate(5px, 0)
    }

    10.71429% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(0, 0)
    }
}