.bienplace {
    background-color: #538D4E;
}
.malplace {
    background-color: #B59F3B;
}

/* generate keyboard */

.kb_line {
    display: flex;
    justify-content: space-between;
    gap: 0.35em;
    width: 100%;
    margin-top: 0.35em;
    width: 40%;
    align-self: center;
}

.key {
    font-size: 18px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    user-select: none;
    flex-grow: 1;
    flex-shrink: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #505050;
}

.key_absent {
    font-size: 18px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    user-select: none;
    flex-grow: 1;
    flex-shrink: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.key_malplace {
    font-size: 18px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    user-select: none;
    flex-grow: 1;
    flex-shrink: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #B59F3B;
}

.key_bienplace {
    font-size: 18px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    user-select: none;
    flex-grow: 1;
    flex-shrink: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #538D4E;
}

.keyboard {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    width: 100%;

}