/* generate keyboard */

.keyboard {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: static;
    width: 100%;
}
.kb_line {
    display: flex;
    justify-content: space-between;
    gap: 0.35em;
    width: 100%;
    margin-top: 0.35em;
    width: 40%;
    align-self: center;
}
.key {
    font-size: 18px;
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    user-select: none;
    flex-grow: 1;
    flex-shrink: 0;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pas_essaye {
    background-color: #505050;
}
#malplace {
    background-color: #B59F3B;
}
#bienplace {
    background-color: #538D4E;
}

/*Pour le petit curseur clic*/

#pas_essaye:hover{
    background-color: rgba(128, 128, 128, 0.692);
}
#absent:hover{
    background-color: rgba(80, 80, 80, 0.692);
}
#bienplace:hover{
    background-color: rgba(83, 141, 78, 0.692);
}
#malplace:hover{
    background-color: rgba(181, 159, 59, 0.692);
}
